.inline-logo {
	/*width: 83px;*/
	height: 100px;
	margin-top: 10px;
}

@media only screen and (max-width: 1200px) {
	.p-team-explanation {
		padding: 1em 2em;
	}
}

#goat-img {
	background-image: url("../images/AboutUs/Goat.jpg");
}

#goatExplanation-img {
	width: 700px;
}

@media only screen and (max-width: 750px) {
	#goatExplanation-img {
		width: 500px;
	}
}

#faheem-img, #suri-img, #albert-img, #raunak-img, #wild-img, #riju-img, #nicola-img {
	border-radius: 3em;
	height: 50vh;
	background-image: url("../images/AboutUs/Faheem_Full.jpg");
}

#suri-img {
	background-image: url("../images/AboutUs/Suri_Full.jpg");
}

#albert-img {
	background-image: url("../images/AboutUs/Albert_Full.jpg");
}

#wild-img {
	background-image: url("../images/AboutUs/Wild_Full.jpg");
}

#raunak-img {
	background-image: url("../images/AboutUs/Raunak_Full.jpg");
}

#riju-img {
	background-image: url("../images/AboutUs/Riju_Full.jpg");
}

#nicola-img {
	background-image: url("../images/AboutUs/Nicola_Full.jpg");
}

.person-text {
	height: auto
}

@media only screen and (max-width: 991px) {
	.person-text {
		height: 100px;
	}
}

@media only screen and (max-width: 575px) {
	.person-text {
		height: auto;
	}
}