/* CSS Document */
.inline-logo {
	margin-top: 3px;
	margin-right: 4px;
	width: 83px;
}

@media only screen and (max-width: 1200px) {
	.p-team-explanation {
		padding: 1em 2em;
	}
}

#goat-img {
	background-image: url("../images/AboutUs/IbexGoat.jpg");
}

#goatExplanation-img {
	width: 700px;
}

@media only screen and (max-width: 750px) {
	#goatExplanation-img {
		width: 500px;
	}
}

#faheem-img {
	min-height: 90vh;
	background-image: url("../images/AboutUs/Faheem_Full.jpg");
}

#albert-img, #wild-img, #raunak-img {
	height: 70vh;
	min-height: 400px;
	background-image: url("../images/AboutUs/Albert_Full.jpg");
}

#wild-img {
	background-image: url("../images/AboutUs/Wild_Full.jpg");
}

#raunak-img {
	background-image: url("../images/AboutUs/Raunak.jpg");
}