.spin-wrap {
	height: 60vh;
	overflow: hidden;
	
	position: relative;
}

.spin-wrap:hover .rotateCursor {
	display: none;
}

.tuskSpin, .ibexSpin {
	width: 100vh;
    max-width: 150% !important;
	min-width: 400px;
}

.tuskSpin:hover,
.ibexSpin:hover {
	cursor: ew-resize;
}

.rotateCursor {
	width: 50px;
	
	animation: headShake;
    animation-duration: 2s;
    animation-iteration-count: 1;
}

#person1 {
	background-image: url("../images/HomePage/Person1.jpg");
}

#person2 {
	background-image: url("../images/HomePage/Person2.jpg");
}

#person3 {
	background-image: url("../images/HomePage/Person3.jpg");
}

.nums-img {
	width: auto;
	height: 300px;
	
	position: relative;
	opacity: 0;
}

#canada-img {
	opacity: 0.1;
	height: 600px;
}

.story-img {
	width: auto;
	height: 250px;
	
	opacity: 0;
}

@media only screen and (max-width: 1200px) {
	.nums-img {
		height: 200px;
	}
	
	.story-img {
		height: 175px;
	}
}