body {
    background-color: black
}

#tusk-person1, #tusk-person2 {
    background-image:
            linear-gradient(180deg, rgba(0, 0, 0, 0) 70%, rgba(0, 0, 0, 1) 100%),
            url("../images/Tusk/Tusk_0.jpg");
    overflow: hidden;
}

#tusk-person2 {
    background-image:
            linear-gradient(180deg, rgba(0, 0, 0, 0) 70%, rgba(0, 0, 0, 1) 100%),
            url("../images/Tusk/Tusk_1.jpg");
}

#nioshStudy {
    background-image: url("../images/Tusk/FaceShapes.jpg");
}

.tableCircle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #ECECE7;
}

.icons-lg {
    display: block;
}

.icons-sm {
    display: none;
}

.tusk-icons {
    opacity: 0;
}

.tusk-icons img {
    width: 50px;
    margin-right: 20px;
}

@media only screen and (max-width: 767px) {
    .icons-lg {
        display: none;
    }

    .icons-sm {
        display: block;
    }
}

.table-responsive-lg th,
.table-responsive-lg td {
    padding: 1rem !important;
}

.slide-padding {
    padding: 0 15%;
}

.text-left {
    display: block;
    text-align: left;
}

@media only screen and (max-width: 767px) {
    .slide-padding {
        padding: 0;
    }
}